.gallery {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 100%;
    height: 100%;
}

.backButton-area {
    display: flex;
    margin-left: 20px;
    font-size: 30px;
    color: white;
    cursor: pointer;
}

.picture-grid {
    display: grid;
    margin-top: 50px;
    margin-top: 15px;
    grid-template-columns:repeat(2,1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    grid-template-areas: 
      ". .";
}

.picture-area {
    display: flex;
    align-items: center;
    justify-content: center;
  }

.image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid 2px white;
    border-radius: 5px;
}
  
img {
    width: 100%;
    height: 100%;   
}

.deleteButton-area {
    display: flex;
    flex-direction:column;
    align-items: flex-end;
    margin-right: 2px;
    padding-top: 2px;
    cursor: pointer;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px
}

h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 20px;
}
  
p {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 15px;
}
